# Python
__pycache__/
*.py[cod]
*.pyd
.pytest_cache

# venv
.venv/
venv/
ENV/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# App runtime files
app.log
history.json

# Downloads / outputs (si tu app descarga cosas acá)
downloads/
build
dist
*.pyc
app.log
history.json
downloads/
__pycache__