name: Build AutomationHub

on:
  workflow_dispatch:

jobs:

  build-macos:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build app
        run: |
          pyinstaller --noconfirm --clean AutomationHub.spec

      - name: Zip macOS app
        run: |
          cd dist
          ditto -c -k --sequesterRsrc --keepParent AutomationHub.app AutomationHub-mac.zip

      - name: Upload macOS artifact
        uses: actions/upload-artifact@v4
        with:
          name: AutomationHub-mac
          path: dist/AutomationHub-mac.zip


  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build app
        run: |
          pyinstaller --noconfirm --clean AutomationHub.spec

      - name: Zip Windows build
        shell: pwsh
        run: |
          Compress-Archive -Path "dist\AutomationHub\*" -DestinationPath "dist\AutomationHub-windows.zip" -Force

      - name: Upload Windows artifact
        uses: actions/upload-artifact@v4
        with:
          name: AutomationHub-windows
          path: dist/AutomationHub-windows.zip
